$border-light: #ccc !default;
$collapsible-title-padding: 0.75rem !default;
$collapsible-content-padding: 1.25rem !default;
$collapsible-border-top: 1px solid $border-light !default;
$collapsible-border-bottom: 1px solid $border-light !default;

.collapsible {
    overflow: hidden;
    border-top: $collapsible-border-top;
    border-bottom: $collapsible-border-bottom;

    &-header {
        display: flex;
        padding-top: $collapsible-title-padding;
        padding-bottom: $collapsible-title-padding;
        margin: 0!important;

        &-title {
            flex-grow: 1;
        }

        &-icon {
            flex-grow: 0;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
    }

    &-content {
        &-inner {
            padding-bottom: $collapsible-content-padding;
        }
    }
}
