<div class="collapsible" [class.is-collapsed]="isCollapsed">
    <p class="collapsible-header">
        <span class="collapsible-header-title">
            <ng-content select="[card-title]"></ng-content>

        </span>
        <a data-action="collapse" class="collapsible-header-icon" (click)="toggle()" aria-label="more options">
            <fa-icon [icon]="titleIcon" size="lg"></fa-icon>
        </a>
    </p>
    <div class="collapsible-content" [@openClose]="isCollapsed">
        <div class="collapsible-content-inner">
            <ng-content select="[card-content]"></ng-content>
        </div>
    </div>
</div>