<section class="section">
    <div class="content">
        <h1 class="title">Find your nearest centre</h1>
        <p>With over x centres nationwide, find your nearest centre by entering your postcode below.</p>
        <div class="has-margin-bottom-1">
            <app-centre-finder-location></app-centre-finder-location>
        </div>
        <div class="has-margin-bottom-1">
            <app-centre-finder-filter></app-centre-finder-filter>
        </div>
        <h2 class="title">All of our centres</h2>
        <div class="has-margin-bottom-1">
            <app-centre-finder-results></app-centre-finder-results>
        </div>
    </div>
</section>