@import "bulma-scss";

.column {
  .button {
    height: auto;
    width: 100%;
  }
}

.hline {
  position: relative;

  &:before {
    content: " ";
    border-bottom: 1px solid $grey-light;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    z-index: 0;
  }

  .label {
    display: inline;
    padding: 0 0.5rem;
    background: #fff;
    z-index: 1;
    position: relative;
  }
}
