<div class="field">
    <div class="control has-icons-left has-icons-right">
        <input type="text" class="input" #locationText [(ngModel)]="autocompleteInput" />
        <span class="icon is-small is-left">
            <fa-icon [icon]="faLocationArrow"></fa-icon>
        </span>
    </div>
</div>
<p *ngIf="showGeolocationLink">
    <a (click)="getLocation()">
        <fa-icon [icon]="faSearchLocation"></fa-icon>
        Use my location
    </a>
</p>