<section class="section">
    <div class="columns">
        <div class="column">
            <h2 class="title">Add an Adult</h2>
            <p>Tell us a bit about this person.</p>
            <div class="field">
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="First name">
                    <span class="icon is-small is-left">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </span>
                    <span class="icon is-small is-right">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </span>
                </div>
            </div>
            <div class="field">
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="Last name">
                    <span class="icon is-small is-left">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </span>
                    <span class="icon is-small is-right">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </span>
                </div>
            </div>
            <button class="button is-block is-large">
                Add [name]
            </button>
        </div>
    </div>
</section>