

<section class="section">
    <div class="columns">
        <div class="column">
            <h2 class="title">Who are they?</h2>
            <p>Choose an option to add a member.</p>
        </div>
    </div>
    <div class="columns is-multiline is-mobile">
        <div class="column">
            <button class="button is-large">
                <div class="is-block">
                    <strong class="has-text-weight-bold">Adult</strong>
                    <br />
                    <span class="is-size-7">16+</span>
                </div>
            </button>
        </div>
        <div class="column">
            <button class="button is-large">
                <div class="is-block">
                    <strong class="has-text-weight-bold">Junior</strong>
                    <br />
                    <span class="is-size-7">Under 16</span>
                </div>
            </button>
        </div>
        <div class="column">
            <button class="button is-large">
                <div class="is-block">
                    <strong class="has-text-weight-bold">Senior</strong>
                    <br />
                    <span class="is-size-7">60+</span>
                </div>
            </button>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <p class="has-text-centered">
                <a href="#">
                    Do you qualify for a concession?
                    <fa-icon [icon]="faQuestionCircle"></fa-icon>
                </a>
            </p>
        </div>
    </div>
</section>
<section class="section has-background-light">
    <h2 class="title">You members</h2>
    <div class="field">
        <div class="control has-icons-left has-icons-right">
            <span class="input">
                James / <span class="is-size-7">Adult</span>
            </span>
            <span class="icon is-small is-left">
                <fa-icon [icon]="faUser"></fa-icon>
            </span>
            <span class="icon is-small is-right">
                <fa-icon [icon]="faPen"></fa-icon>
            </span>
        </div>
    </div>
</section>
