<div class="box" *ngFor="let item of matches">
    <div class="content">
        <h4 class="title">{{item.name}}</h4>
        <div class="columns is-mobile is-multiline">
            <div class="column is-full-mobile">
                <div class="level is-mobile">
                    <div class="level-item level-left">
                        <fa-icon [icon]="faDraftingCompass"></fa-icon>
                        &nbsp;
                        {{item.distance}} miles away
                    </div>
                    <div class="level-item level-right tags are-medium">
                        <span class="tag is-primary" *ngFor="let tag of item.tags">{{tag}}</span>
                    </div>
                </div>
            </div>
            <div class="column is-full-mobile level is-mobile">
                <button class="button is-primary level-item">Choose this centre</button>
                <button class="button is-primary level-item is-outlined">More info</button>
            </div>
        </div>
    </div>
</div>