<app-collapsible-block>
    <div card-title>
        Are you looking for a particular activity?
    </div>
    <div card-content>
        <div class="tags are-medium">
            <a role="button" class="tag" [class.is-primary]="isTagSelected(tag)" *ngFor="let tag of tags" (click)="toggleTag(tag)">{{tag}}</a>
        </div>
        <div class="field">
            <div class="control has-icons-left has-icons-right">
                <div class="select">
                    <select>
                        <option>Within 5 miles</option>
                        <option>Within 10 miles</option>
                        <option>Within 15 miles</option>
                        <option>Within 20 miles</option>
                    </select>
                </div>
                <span class="icon is-small is-left">
                    <fa-icon [icon]="faDraftingCompass"></fa-icon>
                </span>
            </div>
        </div>
    </div>
</app-collapsible-block>