<div class="dropdown" [ngClass]="{'is-active': isOpen}">
  <div class="dropdown-trigger">
    <div class="control" [ngClass]="{'is-loading': isLoading}">
      <input #searchInput type="text" class="input" placeholder={{placeHolder}} [(ngModel)]=query
        (input)="onChange($event)" (focus)=handleFocus($event) [disabled]="disabled" />
    </div>
  </div>

  <!--FilteredList items-->
  <div class="dropdown-menu" [ngClass]="{ 'is-hidden': isHistoryListVisible, 'is-visible': !isHistoryListVisible}">
    <div class="dropdown-content">
      <!--FilteredList heading-->
      <div class="heading" *ngIf="filteredList.length > 0 && heading">
        <div class="text">{{heading}}</div>
      </div>

      <ul #filteredListElement>
        <li *ngFor="let item of filteredList; let idx = index" class="dropdown-item">
          <!--string logic-->
          <div [class.complete-selected]="idx === selectedIdx" *ngIf='isType(item)' (click)="select(item)">
            <ng-container *ngTemplateOutlet="itemTemplate;  context: { $implicit: item | highlight: toHighlight }">
            </ng-container>
          </div>
          <!--object logic-->
          <div [class.complete-selected]="idx === selectedIdx" *ngIf='!isType(item)' (click)="select(item)">
            <ng-container
              *ngTemplateOutlet="itemTemplate; context: { $implicit: item | highlight: toHighlight : searchKeyword }">
            </ng-container>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!--HistoryList items-->
  <div class="suggestions-container"
    [ngClass]="{ 'is-hidden': !isHistoryListVisible, 'is-visible': isHistoryListVisible}">
    <!--HistoryList heading-->
    <div class="heading" *ngIf="historyList.length > 0 && historyHeading">
      <div class="text">{{historyHeading}}</div>
      <div class="x" (click)="resetHistoryList($event)">
        <i class="material-icons">delete</i>
      </div>
    </div>

    <ul #historyListElement>
      <li *ngFor="let item of historyList; let idx = index" class="item">
        <!--string logic-->
        <div [class.complete-selected]="idx === selectedIdx" *ngIf='isType(item)' (click)="select(item)">
          <ng-container *ngTemplateOutlet="itemTemplate;  context: { $implicit: item }">
          </ng-container>
        </div>
        <!--object logic-->
        <div [class.complete-selected]="idx === selectedIdx" *ngIf='!isType(item)' (click)="select(item)">
          <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: item }">
          </ng-container>
        </div>
        <div class="x" (click)="removeHistoryItem(idx, $event)">
          <i class="material-icons">close</i>
        </div>
      </li>
    </ul>
  </div>

  <!--Not found-->
  <div class="not-found" *ngIf="isLoading ? !isLoading && notFound : notFound">
    <ng-container *ngTemplateOutlet="notFoundTemplate;  context: { $implicit: notFoundText  }">
    </ng-container>
  </div>
</div>
<div class="overlay" *ngIf="overlay" (click)="handleOverlay()"></div>